/* vote footer */
.vote-card {
    background-color: #b6adad30;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.vote-button {
    display: flex;
    align-items: center;
    justify-content: start;
    flex: 1;
}

.vote-error {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    margin-right: 10px;
}

#voteMessage {
    display: block;
}


/* chat */
#chat-box {
    max-height: 300px;
    z-index: 1000;
}

@media (min-width: 768px) {
    #chat-box {
        max-height: 400px;
    }
}


/* copy-button */


.copy-button {
    background-color: #007BFF;
    /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
    /* Smooth transitions */
}