.post__section {
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    /* background-color: red; */
    margin-bottom: 10px;

}

.card {
    /* background-color: #111; */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    flex: 1;
    text-align: center;
}

.card-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.card-icon svg {
    width: 30px;
    height: 30px;
    fill: #333;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* vote footer */
.vote-card {
    background-color: #b6adad30;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.vote-button {
    display: flex;
    align-items: center;
    justify-content: start;
    flex: 1;
}

.vote-error {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    margin-right: 10px;
}

#voteMessage {
    display: block;
}

/* Medium screens (e.g., tablets) */
@media (max-width: 992px) {
    .post__section {
        flex-direction: row;
        /* Two cards per row */
    }

    .card {
        flex: 1 1 calc(50% - 20px);
        /* Two cards per row */
    }
}

/* Small screens (e.g., mobile phones) */
@media (max-width: 768px) {
    .post__section {
        flex-direction: column;
        /* Single column layout */
    }

    .card {
        flex: 1 1 100%;
        /* Full width for each card */
    }
}

/* chat */
#chat-box {
    max-height: 300px;
    z-index: 1000;
}

@media (min-width: 768px) {
    #chat-box {
        max-height: 400px;
    }
}