.form__container {
    margin: auto;
    max-width: 800px;
}

/* add screen size */
@media screen and (max-width: 876px) {
    .form__container {
        width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .form__container {
        width: 100%;
        padding: 10px;
    }
}