body {
    background-color: white;
}

/* write media query */
@media screen and (max-width:1250px) {
    .prose {
        max-width: 100%;

    }
}

@media screen and (max-width:890px) {

    .prose,
    img pre code {
        padding: 20px;
    }
}

.prose {
    padding: 0px !important;
}