#sidebar {
    background-color: #f3f4f6;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    width: 15rem;
    height: 100vh;
    transition: transform 0.3s ease, visibility 0.3s ease;
    overflow-y: auto;
    z-index: 1;
}

.hidden {
    display: none;
}

#sidebar-open {
    margin-top: 5px;
    border-radius: 5px;
}

.openSidebar {
    cursor: pointer;
}

.openSidebar li {
    list-style: none;
    margin-top: 1.3rem;
}

input,
textarea {
    outline: none;
}

.close-sidebar {
    display: flex;
    justify-content: end;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.6s ease-in-out;
}

.close-sidebar:hover {
    cursor: pointer;
    background-color: rgb(104, 98, 98);
    color: white;
}

#sidebar-closed {
    transform: translateX(-100%);
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    margin: 10px 0;
}

#sidebar ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#sidebar ul li a:hover {
    background-color: hsl(240, 29%, 62%);
    color: white;
}

.sidebar {
    transition: transform 0.3s ease;
}

.dashboard-main {
    transition: margin-left 0.3s ease;
}

.dashboard-logo {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 5px;
}
.cars-color{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-car-color {
    margin-left: 10px;
    margin-top: 5px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.default-button {
    font-size: 12px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.6s ease-in-out;
}

.default-button:hover {
    cursor: pointer;
    background-color: rgb(104, 98, 98);
    color: white;
}

.dashboard-logo .dashboard-logo-name {
    font-size: 12px;
    padding: 7px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.6s ease-in-out;
}

.dashboard-logo-name:hover {
    cursor: pointer;
    background-color: rgb(104, 98, 98);
    color: white;
}

.dashboard-logo-name {
    margin-right: 16px;
}

.openSidebar .nav-link {
    list-style: none;
}

.size-6 {
    width: 24px;
    height: 24px;
}


@media only screen and (max-width: 786px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 15rem;
        height: 100vh;
    }

    .dashboard-main {
        margin-left: 0;
    }
}